@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Oswald:wght@300&family=Source+Code+Pro:wght@300&family=Source+Sans+Pro:wght@300&display=swap');
.main{
    margin: 12px;
}
p{
    margin: 12px;
}
.main p{
    font-family: 'Source code Pro', sans-serif;
}
.main h1{
    font-family: 'Source sans Pro', sans-serif;
}
.main h2{
    font-family: 'Source sans Pro', sans-serif;
}
.skill{
    width: 256px;
    height: 8px;
    background-color: rgb(214, 35, 35);
}
.skillitem{
    display: flex;  
    align-items: center; 
    font-family: 'Source code Pro', sans-serif;
    font-weight: 600;
}
.hundred{
    width: 265px;
}    
.fifty{
    width: 125px;
    background-color: aqua;
}    
.t5{
    width: 75px;
    background-color: rgb(185, 212, 30);
}    